.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.contact__points {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.moved {
    animation: 1s slide-left forwards;
}

.email {
    margin-left: 0.3rem;
    cursor: pointer;

}

.show-email {
    margin-left: 0rem;
    margin-top: -2.15rem;
    padding: 0.2rem;
    display: block;
    cursor: text;
    position: absolute;
    animation: 1s appear forwards;
    border: 1px solid var(--theme-secondary-black);
    border-radius: 4px;
}

@keyframes slide-left {
    to {
        transform: translateX(-600%);
    }
}

@keyframes slide-right {
    to {
        transform: translateX(0%);
    }
}

@keyframes appear {
    0% {
        display: none;
        transform: translateX(100%);
    }

    100% {
        display: block;
        transform: translateX(-50%);
    }
}

.show-email:hover {
    color: var(--theme-secondary-dark-white);
}

.hide-email {
    animation: 1s slide-right forwards;
    display: none;
}

.show-hint {
    color: var(--theme-hint-black);
    display: flex;
    align-self: flex-end;
}

.hide-hint {
    color: transparent;
}

@media (max-width: 480px) {
    .contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;
        margin-top: -4rem;
        margin-left: -0.5rem;
        overflow: hidden;
        position: relative;
    }

    .contact-landing {
        display: none;
    }

    @keyframes slide-left {
        to {
            transform: translateX(-300%);
        }
    }

    @keyframes appear {
        0% {
            display: none;
            transform: translateX(100%);
        }

        100% {
            display: block;
            transform: translateX(5%);
        }
    }

    .contact__points {
        margin-top: 1rem;
    }
}