header {
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__container {
    width: 80%;
    height: 4rem;
    background-color: var(--theme-secondary-black-translucent);
    margin-top: 3rem;
    border: 0.5px solid var(--theme-dark-white-translucent);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(1rem);
    position: fixed;
    z-index: 5;
    transition-timing-function: ease-in;
    transition: 0.5s;
}

.hide-nav {
    transform: translateY(-400px);
}

.header__left {
    margin-left: 2rem;
    width: 10rem;
    height: 10rem;
}

.header__left img {
    width: 300%;
    height: 300%;
    margin: -15.5rem 0 0 -2.5rem;
}

.header__right {
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__right a {
    color: var(--theme-secondary-light-white);
    font-size: 1.2rem;
    font-family: Mark Pro Bold, sans-serif;
    text-decoration: none;
    margin-right: 1.2rem;
}

.header__right a:hover {
    color: var(--theme-secondary-dark-white);
    
}

.header-menu {
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
}

.header-menu span {
    background: #fff;
    width: 100%;
    height: 1.5px;
    border-radius: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.320, 1);

}

.header-menu .line-1 {
    transform: translate(-50%, -10px);
    transform-origin: 0 0;
}

.header-menu .line-3 {
    width: 50%;
    left: auto;
    right: 0;
    transform: translate(-100%, 9px);
    transform-origin: 100% 0;
}

.open .line-1 {
    width: 50%;
    transform: translate(0%, 0%) rotate(-45deg);
}

.open .line-2 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.open .line-3 {
    transform: translate(-100%, 0%) rotate(-45deg);
}
