footer {
    width: 100%;
    height: 100%;
    background-color: var(--theme-secondary-black-translucent);
    display: flex;
    flex-flow: column wrap;
}

footer .contact__me .contact .contact__info {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
}

footer .contact__me .contact .show-email {
    margin-top: 0;
    margin-left: -6rem;
}

.contact__me {
    width: 100%;
    padding: 2rem;
}

.contact__me-title {
    font-size: 3rem;
}

.contact__me-subtitle {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.testimonials {
    width: 100%;
    background-color: var(--theme-secondary-dark-blue);
    padding: 2rem;
}

.testimonial__image {
    display: flex;
    justify-content: space-between;
}
.testimonial__image img:first-child {
    margin-top: -2rem;

}

.testimonial__image img:last-child {
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--theme-secondary-dark-white);
    border-radius: 16rem;

}

.testimonials p {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.testimonials span {
    color: var(--theme-secondary-light-white);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/* Tablet Portrait */
@media only screen and (min-width: 768px) {
    
}


/* Tablet Landscape */
@media only screen and (min-width: 1024px) {

}


/* Desktop */
@media only screen and (min-width: 1440px) {

}

/* Max Desktop */
@media only screen and (min-width: 1920px) {
    
}