@font-face {
  font-family: 'Mark Pro Bold';
  src: url(../public/fonts/Mark-Pro-Bold/Mark-Pro-Bold.ttf);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-black: #0b090a;
  --theme-secondary-black: #161a1d;
  --theme-hint-black: #20272d;
  --theme-secondary-black-translucent: rgba(22, 26, 29, 25%);
  --theme-dark-red: #660708;
  --theme-secondary-dark-red: #a4161a;
  --theme-light-red: #ba181b;
  --theme-secondary-light-red: #e5383b;
  --theme-dark-white: #b1a7a6;
  --theme-dark-white-translucent: rgba(72, 67, 66, 25%);
  --theme-secondary-dark-white: #d3d3d3;
  --theme-light-white: #f5f3f4;
  --theme-secondary-light-white: #ffffff;
  --theme-light-pink: #f72585;
  --theme-dark-pink: #b5179e;
  --theme-light-purple: #7209b7;
  --theme-secondary-light-purple: #560bad;
  --theme-dark-purple: #480ca8;
  --theme-secondary-dark-purple: #3a0ca3;
  --theme-dark-blue: #3f37c9;
  --theme-secondary-dark-blue: #4361ee; 
  --theme-light-blue: #4895ef;
  --theme-secondary-light-blue: #4cc9f0;
  
}

html {
  width: 100vw;
  max-width: 100%;
  height: auto;
  background-color: var(--theme-black);
}

body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: var(--theme-secondary-light-white);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}





/* Project Section */

.projects {
  width: 60%;
}

.project-header h1 {
  width: 100%;
  font-size: 8rem;
  line-height: 8rem;
  letter-spacing: -0.2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: center;
}


.project-header-right {
  width: 50%;
}

.project-portfolio {
  display: grid;
  grid-template-columns: 
    repeat(auto-fit, minmax(1fr, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 8rem;
}

.project-card {
  aspect-ratio: 1 / 0.66;
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: 0;
}

.project-card img:hover {
  transform: scale(1.1);
  z-index: 0;
  cursor: pointer;
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project-card-content {
  height: auto;
  background-color: var(--theme-secondary-black);
  align-self: end;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: -2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 2;
}

.project-card-content p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--theme-secondary-dark-white);
  margin-top: 0.5rem;
}

.project-card-content a {
  text-decoration: underline;
  text-decoration-color: var(--theme-secondary-dark-white);
}

.project-card-content img {
  width: 6.5rem;
  height: 1.5rem;
  border-radius: 0;
  margin-top: 1rem;
}

.project-card-content img:hover {
  transform: scale(1);
  cursor: default;
}

.project-card.featured {
  grid-row: span 2;
  grid-column: span 2;
}

.project-card.featured img {
  /* aspect-ratio: 1 / .5; */
}

@media (max-width: 1200px) {
  .project-card.featured {
    grid-row: span 1;
    grid-column: span 1;
  }
  .project-card {
    width: 60vw;
    aspect-ratio: 1 / 100%;
    border-radius: 0.5rem;
    height: 25rem;
  }
}

@media (max-width: 600px) {
  .project-header {
    display: flex;
    flex-flow: column wrap; 
    height: auto;
    
  }
  .project-header h1 {
    font-size: 4em;
    margin: 0;
    width: auto;
  }
  
  
  .project-portfolio {
    row-gap: 2rem;
  }
}


/* Project Section */