@font-face {
  font-family: 'Mark Pro Bold';
  src: url(../public/fonts/Mark-Pro-Bold/Mark-Pro-Bold.ttf);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-black: #2b2d42;
  --theme-grey: #8d99ae;
  --theme-white: #edf2f4;
  --theme-off-red: #ef233c;
  --theme-red: #d90429;
  --white: #FFFFFF;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--theme-black);
}

body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: var(--white);
}

.App {

}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  font-family: Mark Pro Bold, sans-serif;
  width: 64rem;
  height: 50rem;
  margin-top: 8rem;
  
}

.header-wrapper h1 {
  font-size: 5.5rem;
  letter-spacing: -0.3rem;
}

.header-wrapper p {
  margin-top: 8rem;
  color: var(--theme-grey);
  letter-spacing: 0.3rem;
}